body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 60px auto;
    background: white;
    padding: 30px;
    border-radius: 8px;
}

h1 {
    color: #003366;
}

p {
    font-size: 16px;
}


/* Login Page CSS */

.login-container {
    width: 400px;
    margin: 80px auto;
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.08);
}

.login-container h1 {
    text-align: center;
    color: #003366;
    margin-bottom: 5px;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 25px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccd1d9;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 11px;
    background: #003366;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #00509e;
}

.error-message {
    background: #ffe5e5;
    color: #b00020;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

/* Dashboard Page CSS  */

.dashboard-container {
    width: 90%;
    margin: 30px auto;
}

.welcome-box {
    background: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.menu {
    background: #003366;
    padding: 12px;
    border-radius: 6px;
    margin-bottom: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
}

.menu a:hover {
    text-decoration: underline;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.card h3 {
    color: #003366;
}